/* background care se roteste  & infobox changes on hover */
body {
    background: url(background.jpg) no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

.infobox {
    display: block;
    margin-top: 2%;
    margin-left: 2%;
    width: 20.78%;
    border-radius: 20px;
    background-color: rgba(145, 145, 145, 0.836);
    padding: 15px;
}

.infobox .content {
    display: block;
    border-radius: 20px;
    padding: 5px;
    font-size: large;
}

.infobox .title {
    text-align: center;
    font-size: 30px;
    font-family: Verdana;
    font-weight: bolder;
}

.button .right {
    margin-right: 2%;
}

.button .left {
    margin-right: 7%;
}

.button .left,
.button .right {
    border-radius: 10px;
    font-size: 40px;
    position: relative;
    display: block;
    background-color: rgb(145, 145, 145);
    position: fixed;
    text-align: center;
    width: 2%;
    bottom: 0;
    right: 0;
    margin-bottom: 2%;
    padding: 10px;
    transition: transform 330ms ease-in-out;
}

.button .left:hover,
.button .right:hover {
    transform: scale(1.2);
}

/*Planets in general*/
.planet {
    position: absolute;
}

img {
    border-radius:50%;
}

.planet .pBody {
    position: absolute;
    transition: transform 330ms ease-in-out;
}

.planet .pLight {
    position: absolute;
    opacity: 0;
    transition: opacity 700ms ease-in, transform 330ms ease-in-out, opacity 700ms ease-out;
}

.planet .pDark {
    position: absolute;
    opacity: 1;
    transition: opacity 700ms ease-in, transform 330ms ease-in-out, opacity 700ms ease-out;
}

.planet:hover .pBody {
    transform: scale(1.2);
}

.planet:hover .pLight {
    opacity: 1;
    transform: scale(1.2);
}

.planet:hover .pDark {
    opacity: 0;
}

/*Mercury*/
.mercury {
    top: 69%;
    left: 13%;
}

.mercury .pBody,
.mercury .pLight,
.mercury .pDark {
    height: 150px;
    width: 150px;
}

/*Venus*/
.venus {
    top: 59%;
    left: 20%;
}

.venus .pBody,
.venus .pLight,
.venus .pDark {
    height: 185px;
    width: 185px;
}

/* Earth */
.earth {
    top: 50%;
    left: 28%;
}

.earth .pBody,
.earth .pLight,
.earth .pDark {
    height: 200px;
    width: 200px;
}

/*Mars*/
.mars {
    top: 44%;
    left: 35.9%;
}

.mars .pBody,
.mars .pLight,
.mars .pDark {
    height: 180px;
    width: 180px;
}

/*Jupiter*/
.jupiter {
    top: 50.67%;
    left: 39.06%;
}

.jupiter .pBody,
.jupiter .pLight,
.jupiter .pDark {
    height: 450px;
    width: 450px;
}

/*Saturn*/
.saturn {
    top: 42%;
    left: 55%;
}

.saturn .pBody,
.saturn .pLight,
.saturn .pDark {

    height: 350px;
    width: 475px;
}

.saturn:hover .pBody,
.saturn:hover .pLight,
.saturn:hover .pDark {
    transform: scale(1.2);
}

/*Uranus*/
.uranus {
    top: 34%;
    left: 70%;
}

.uranus .pBody,
.uranus .pLight,
.uranus .pDark {
    height: 320px;
    width: 320px;
}

/*Neptune*/
.neptune {
    top: 27%;
    left: 82%;
}

.neptune .pBody,
.neptune .pLight,
.neptune .pDark {
    height: 250px;
    width: 250px;
}

/*Pluto*/
.pluto {
    top: 24%;
    left: 91%;
}

.pluto .pBody,
.pluto .pLight,
.pluto .pDark {
    height: 150px;
    width: 150px;
}

/*Sun*/
.sun {
    top: 65%;
    left: -17%;
}

/*Galaxies in general*/
.galaxy .gFull{
    position:relative;
}

.galaxy .gLight{
    opacity:0;
    transition: opacity 700ms ease-in, transform 330ms ease-in-out, opacity 700ms ease-out;
}

.gFull:hover .gSubtitle,
.gFull:hover .gBody{
    transform:scale(1.2);
}

.gFull:hover .gLight {
    transform:scale(1.2);
    opacity:1;
}

.galaxy .gSubtitle{
    font-weight: bold;
    font-size: large;
    position: absolute;
    color:white;
}


.galaxy .gBody,
.galaxy .gSubtitle{
    transition: transform 330ms ease-in-out;
}

/*Milky Way*/

.milky .gFull{
    position:absolute;
    left:35%;
    top:35%;
}

.milky .gBody {
    height: 178px;
    width: 315px;
}

.milky .gSubtitle{
    left:90px;    
}

/* Andromeda */

.andromeda .gBody{
    height: 240px;
    width: 322px;
}

.andromeda .gSubtitle{
    left:55px;
}

.andromeda .gFull{
    position:absolute;
    left:65%;
    top:35%;
}

/* Pinwheel */
.pinwheel .gBody{
    height:250px;
    width:250px;
}

.pinwheel .gSubtitle{
    left:45px;
    top:230px;
}

.pinwheel .gFull{
    position: absolute;
    left:9%;
    top:55%;
}

/* NGC1300 */
.NGC1300 .gBody{
    height:125px;
    width:250px;
}

.NGC1300 .gSubtitle{
    left:90px;
}

.NGC1300 .gFull{
    position:absolute;
    left:40%;
    top:10%;
}

/* Hoag's Object */
.hoag .gBody{
    height:200px;
    width:200px;
}

.hoag .gSubtitle{
    left:50px;
}

.hoag .gFull{
    position:absolute;
    left:30%;
    top:68%;
}

/* Sombrero Galaxy */
.sombrero .gBody{
    height:200px;
    width:300px;
}

.sombrero .gSubtitle{
    left:50px;
}

.sombrero .gFull{
    position:absolute;
    left:75%;
    top:5%;
}

/* The Corona Borealis */
.borealis .gBody,
.borealis .gLight{
    position:absolute;
    height:400px;
    width:400px;
}

.borealis .gSubtitle{
    left:78px;
    top:338px;
    width:250px;
}

.borealis .gFull{
    position:absolute;
    left:22%;
    top:10%;
}


@keyframes move_pulamea{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}

