/*Bibliografie:1.(Earth)https://en.wikipedia.org/wiki/Earth#See_also*/
/* Fundalul */
body {
    background: url(../images/background.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    width: 100%;

}

/* Baza paginii. Efectiv dreptunghiul mare in care e pus tot. */
.container {
    border-radius: 35px;
    border: 10px solid gray;
    width: 50%;
    min-width: 450px;
    margin: auto;
    height: 100%;
    background-color: rgba(0.89, 0.89, 0.89, 0.8);
}

/* Titlul. */
.container .title {
    color: white;
    font-size: 50px;
    text-align: center;
    font-weight: bolder;
}

/* Tot textul din pagina */
.container .content {
    color: white;
    font-size: 19px;
}

/* Imaginea de pe pagina cu planeta. Float: left ca sa ocoleasca textul imaginea.*/
.container .example-image {

    float: left;
    margin: 0 1em 1em 0;
    display: block;
    border: 5px solid gray;
    border-radius: 20px;
}

/* Container-ul care tine imaginea de exemplu si textul de exemplu*/
.container .example {
    position: relative;
}

/* Textul de exemplu. Detalii despre poza, in general */
.container .example-notes {
    position: absolute;
    color: white;
    top: 230px;
    left: 15px;
}

/*border-radius da efectul de colturi rotunjite btw :P*/
/*nota: nu folosi valori concrete. Lucreaza cu procentaje. E mai usor si nu se distruge pagina cand schimbi dimensiunea paginii. Valori concrete in general merg doar cand folosesti position:absolute.*/
.abu a{
    text-decoration: none;
    color:yellow;
}
#box{
    background-color: rgba(1, 1, 1, 0.8);
    border-radius: 3px;
    border: 10px solid gray;
    width: 20%;
    position:absolute;
    right:-77%;
    left:77%;
    
    
    
}
.button .left {
    margin-right: 7%;
}
.button .left {
    border-radius: 20px;
    font-size: 40px;
    position: relative;
    display: block;
    background-color: rgb(145, 145, 145);
    position: fixed;
    text-align: center;
    width: 2%;
    bottom: 0;
    right: 0;
    margin-bottom: 2%;
    padding: 10px;
    transition: transform 330ms ease-in-out;
}

#backButton{
    color: black;
}